<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link href="/{{ fingerprint.[css/index.css] }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {{& contents }}
        <hr>
        <p><strong><em>&copy;</em></strong> <a href="/">Christopher Cliff</a></p>
    </body>
</html>
